* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Arial", "sans-serif";
}

img {
    width: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    background-color: dodgerblue;
    padding: 30px;
    padding-left: 20px;
    border-top: 1px solid white;
}

li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}

@media all and (min-width: 550px) {
    ul {
        background-color:dodgerblue;
    }

    li {
        display: inline-block;
        border: none;
    }
}

h3 {
    color: rgb(220, 106, 94);
    font-weight: 600;
}

section, footer {
    padding: 20px;
}

@media all and (min-width: 550px) {
    section#nieuws {
        width: 30%;
        float: left;
    }
    section.ok {
        width: 25%;
        float: left;
        margin-left: -30%;
        margin-top: 22%;
    }

    section.oke {
        width: 50%;
        float: right;
        margin-left: 70%;
        margin-right: -15%;
        margin-top: -48%;
    }

    section#instrumenten {
        width: 55%;
        float: right;
        margin-right: 12%;
        margin-top: 4%;
    }
}

@media all and (min-width: 920px) {
    section#nieuws {
        width: 30%;
        float: left;
    }

    section#instrumenten {
        width: 55%;
        float: right;
    }


    article {
        display: inline-block;
        width: 45%;
        margin-right: 30px;
    }



    @media all and (min-width: 1200px) {
        div#wrapper {
           width: 1518px;
            background-color: white;



        }
    }

    footer {
        background-color: rgb(128, 128, 128);
        color: white;
        clear: both;
    }

    footer h3 {
        color: white;
    }
section.end {
    margin-left: 40%;
}
}