* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Arial", "sans-serif";
}


ul {
    margin: 0px;
    padding: 0px;
}

li {
    background-color: dodgerblue;
    padding: 30px;
    padding-left: 20px;
    border-top: 1px solid white;
}

li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}

@media all and (min-width: 550px) {
    ul {
        background-color:dodgerblue;
    }

    li {
        display: inline-block;
        border: none;
    }
}

h3 {
    color: rgb(220, 106, 94);
    font-weight: 600;
}

section, footer {
    padding: 20px;
}

section.bal {
    width: 1%;
    margin-left: 3%;
}
section#nieuws {
    width: 22%;
    float: left;

    margin-top: -1%;
    margin-left: 3%;

}
section.tekst {
    width: 22%;
    margin-left: 24%;
    margin-top: -2%;
}
section.tek {
    width: 23%;
    margin-left: 48%;
    margin-top: -29%;
}


section.foto {
    width: 1%;
    margin-left: 48%;
    margin-top: -24%;
}

section.volley {
    float: right;
    margin-top: -28%;
    margin-right: 12%;

}


@media all and (min-width: 1200px) {
    div#wrapper {
        width: 1519.4px;
        background-color: white;



    }
}

footer {
    background-color: rgb(128, 128, 128);
    color: white;
    clear: both;
}

footer h3 {
    color: white;
}

section.head {
    margin-left: 40%;
}

